# Ignore virtual environment directory for Python projects
.venv/
data/

# Other common entries to include in a Python project gitignore:
# Compiled Python files
*.pyc
engine/ATES/PRA/__pycache__/

# Editor-specific files (VS Code)
.vscode/

# Environment variables file
.env

# GIS Data Files - Large raster and output files
*.tif
*.tiff
*.ovr
*.aux.xml
*.zip
inputs\
outputs\
cache\
log\